:fullscreen {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
}
:full-screen {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
}
:-moz-full-screen {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
}
:-webkit-full-screen {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
}
:-ms-full-screen {
	background: red;
	width: 100%;
	height: 100%;
	text-align: center;
}